html {
    height: 100%;

}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
    line-height: 1.6em;
    color: #4b4b4b;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
    overflow: auto;
}

footer{
    display: flex;
    padding: 30px;
    margin: 50px 0px 20px;
    font-size: 0.7em;
    justify-content: space-around;
}

b{
    font-weight: bold;
}

i {
    font-style: italic;
}


.sticky-bar{
    position: absolute;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: auto;
    height: 50px;
    z-index: 0;
    /* animation: loop-fade 15s infinite; */
    background-color: #fff;
    padding: 10px 30px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex;
    flex: auto;
    flex-basis: content; */
    /* justify-content: space-between;
    align-items: center; */
    font-size: 1rem;
}

.sticky-bar-sub{
    height: 50px;
}

.tiny-box{
    display: block;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border: 0.5px solid black;
    justify-content: center;
    box-sizing: border-box;
}

.hide-on-mobile{
    display: none;
}

.shadow {
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
}

a.tiny-box:hover{
    background-color: rgb(61, 85, 219);
    color: #fff;
    cursor: pointer;
}


h1{ /* for name in column, main headers*/
    display: block;
    font-family: 'DM Serif Text', serif;
    letter-spacing: 1px;
    font-size: 3rem;
    color: #000000;
    line-height: 100%;
    /* transform: rotate(-5deg); */
}


h2{ /* for subheaders*/
    display: inline-block;
    font-family: 'Bungee Hairline', monospace;
    /* font-style: italic; */
    font-size: 2rem;
    /* font-weight: bold; */
    color: #000000;
    line-height: 100%;
    margin-bottom: 10px;
}


h3{ /* for subheaders*/
    display: block;
    font-family: 'Bungee Hairline', monospace;
    /* font-style: italic; */
    /* text-transform: uppercase; */
    font-size: 1.5rem;
    color: #000000;
    line-height: 100%;
    margin-bottom: 10px;
}

a h3:hover{
    text-decoration: underline;
}

ol{
    margin-left: 20px;
    padding: 5px 10px 10px 10px;
    list-style: decimal-leading-zero;
}

li {
    padding: 10px;
}

li a{
    margin: 0px; 
    display: block; 
    width: 100%; 
    height: 100%;
    position: relative;
    text-decoration: none;
    color: rgb(38, 66, 227);
}

li a:hover{
    color: rgba(67, 0, 252, 0.658);
    cursor: pointer;
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

a{
    /* color: #001397; */
    /* text-decoration: underline; */
    display: inline;
    text-decoration: none;
    color: rgb(38, 66, 227);
}

a:hover{
    /* color:#5c7bca; */
    /* color:rgb(61, 85, 219); */
    text-decoration: underline;
}

a.skiplink{
    position: absolute;
    top: -80px;
    z-index: 1;
    transition: top ease-in 0.3s;
}

a.skiplink:focus, a.skiplink:active{
    display: inline;
    top: 0px;
}

a.overlay-text.basic{
    text-decoration: none;
}

.header-link-class{
    display: inline;
    background-color: #fff;
}


li.onpage{
    list-style-type: circle;
}


img {
    object-fit: cover;
    display:block;
    width: 100%;
    height: auto;
}

img.icons{
    display: inline;
}

.videoWrapper{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container{
    margin: 0 auto;
    /* height: 100vh; */
    width: 100%;
    /* background-color: #c0c0c0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu-header{
    display: none;
}

#index-grid{
    /* margin-top: 70px; */
    display: flex;
    /* max-width: 95%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#project-content{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.hero-content{
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* grid-column: 1 / 3;
    grid-row: 1 / 2; */
    /* background-color: bisque; */
}

.single-proj-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position: relative;
}

.mobile-image-click{
    display: block;
}

.proj-grid-title{
    padding: 30px 0px 30px;
    /* text-align: right; */
    /* grid-column: 3 / 5; */
    /* padding-left: 90px; */
}

.proj-page-section{
    padding: 20px;
}

.proj-page-section > img {
    object-fit: cover;
    display:block;
    width: 100%;
    height: auto;
}

.inner-section-spacing{
    height: 60px;
    width: auto;

}

.single-proj-block > img {
    object-fit: cover;
    display:block;
    width: 100%;
    height: auto;
}

.overlay{
    padding: 15px 0px 15px;
    text-align: center;
    font-size: 1.1em;
}

.pics-in-line{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.pics-in-line > img {
    object-fit: cover;
    display:block;
    height: 500px;
    width: auto;
}

.two > img {
    width: 100%;
    height: auto;
}

.three > img {
    padding-bottom: 25px;
}

.proj-photo-grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.3fr));
    grid-gap: 20px;
    justify-content: center;
}

.caption-text{
    background-color: rgb(237, 250, 252);
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

video {
    object-fit: cover;
    margin-bottom: 20px;
    display:block;
    padding: 0px 15px 0px 15px;
}

.proj_title{
    font-size: 2rem;
}

.gs-persona-text{
    display: flex;
    flex-direction: row;
}

.flex-features{
    display:flex;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: space-between;
}


.bio{
    margin-top:15px;
}

.proj_list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;
    margin-top: 5px;
}

.active .proj_list {
    max-height: 500px;
    transition: max-height 0.25s ease-out;
    margin-top: 5px;
    z-index: 1;
}

.title-index{
    padding: 10px;
}

.title-index:hover{
    background-color: #FFA580;   
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgb(232, 232, 232) 50%);
}

/* MEDIA QUERY FOR DESKTOP */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

body {
    font-size: 1rem;	
    line-height: 1.5em;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

#container{
    margin: 0 auto;
    /* height: 100vh; */
    width: 90vw;
    /* background-color: #c0c0c0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#index-grid{
    display: grid;
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

#project-content{	
    margin: 70px 0px 0px 0px;	
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-width: 60vw;
}

.sticky-bar{
    display: flex;
    flex: auto;
    flex-basis: content;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 0px;
}

.tiny-box{
    padding: 10px 20px 10px 20px;
    border: 0.5px solid black;
    justify-content: center;
    width: auto;
}

.proj-grid-title {
    padding-left: 90px;
}

.single-proj-block{	
    display: flex;	
    justify-content: space-around;	
    align-items: center;	
    border: 0.5px solid black;	
    margin: 0;
    padding: 50px;
    position: relative;
}

.hero-content{
    margin: 90px 0px 30px;
    width: 100%;
    align-items: center;
    padding: 30px;
}

.overlay{
    background: rgba(255, 255, 255, 0.927);
    object-fit: cover;
    height: 99%;
    width: 99%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.single-proj-block:hover .overlay{
    opacity: 1;
}

.overlay-text{
    font-family: "Bungee Hairline", monospace;
    font-size: 3em;
    line-height: initial;
    text-align: center;
    margin: 15px;
} 


.hide-on-desktop{
    display: none;
}

.pics-in-line{
    flex-wrap: wrap;
    flex-direction: row;
}

.two > img {	
    width: calc(100%  /2.2);	
}	
.three > img {	
    height: 400px;
    width: auto;
}





} /* end desktop media query */

