body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    /* background-color: #ebe0d4; */
    font-weight: lighter;
}

h1{
    display: inline-block;
    font-family:'Playfair Display', serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 6em;
    font-weight: lighter;
}

a.skiplink{
  position: relative;
  top: -80px;
  transition: top ease-in 0.3s;
}

a.skiplink:focus, a.skiplink:active{
  display: inline;
  top: 0px;
}

a {
    border-bottom: 1px solid transparent;
}

a:hover{

    border-bottom: 1px solid;
}

#container{
    margin: 0 auto;
    height: 100vh;
    width: 95vw;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto); 
}

#sidebar{
    display: grid;
    grid-column:1 / 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
}

.name-clear{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.bio{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    
}

.nav-links{
    display: grid;
    grid-row: 3 / 4;
}

.social{
    display: grid;
    grid-row: 4 / 5;
}


@media (max-width: 750px)
{
    #container{
        max-width: 100%;
        display:block;
        margin-bottom: none;
    }
}
