html {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    line-height: 1.5em;
    color: #363636;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    padding-bottom: 200px;
    overflow: auto;
}

main {
    /* background-color: cadetblue; */
}

footer{
    display: flex;
    padding: 30px;
    margin-bottom: 20px;
    font-size: small;
    justify-content: space-around;
}

b{
    font-weight: bold;
}

i {
    font-style: italic;
}

h1{ /* for name in column, main headers*/
    display: block;
    font-family: 'Montserrat Subrayada', sans-serif;
    /* font-style: italic; */
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: lighter;
    color: #000000;
    line-height: 100%;
    /* transform: rotate(-5deg); */
}

h1[type="page-titles"]{
    font-size: 3rem;
}

h2{ /* for subheaders*/
    display: block;
    font-family: 'Roboto Mono', monospace;
    /* font-style: italic; */
    /* text-transform: uppercase; */
    font-size: 2rem;
    color: #000000;
    line-height: 100%;
}

h3{ /* for subheaders*/
    display: block;
    font-family: 'Montserrat Subrayada', sans-serif;
    /* font-style: italic; */
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #000000;
    line-height: 100%;
    padding-bottom: 0.5em;
}

ol{
    margin-left: 20px;
    padding: 5px 10px 10px 10px;
    list-style: decimal-leading-zero;
}


li {
    padding: 10px;
}

li a{
    margin: 0px; 
    display: block; 
    width: 100%; 
    height: 100%;
    position: relative;
    text-decoration: none;
    color: #25428c;
}

li a:hover{
    color: #3e60b5;
    cursor: pointer;
}

p {
    margin-bottom: 25px;
}

a{
    color: #001397;
    text-decoration: underline;
    display: inline;
}

a:hover{
    color:#5c7bca;
}

li.current{
    background-color: #FFA580;
    color: #001397;
    list-style: none;  
}

li[type="navbar"] a{
    color: #000000;
    list-style: none;  
}

li[type="navbar"] a:hover{
    color: #5c7bca;
}

li[type="navbar"] a:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    transform-origin: left;
}

li[type="navbar"] a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

li.nav-links{
    list-style: none;
}

li.nav-links:hover{
    /* background-color: antiquewhite; */
    -webkit-transition: all 0.20s ease-in-out 0s;
    transition: all 0.20s ease-in-out 0s;
}

li.onpage{
    list-style-type: circle;
}


a.skiplink{
  position: relative;
  top: -80px;
  transition: top ease-in 0.3s;
}

a.skiplink:focus, a.skiplink:active{
  display: inline;
  top: 0px;
}


#container{
    margin: 0 auto;
    /* height: 100vh; */
    width: 95vw;
    /* background-color: #c0c0c0; */
    display: flex;
}

#sidebar{
    width: 270px;
    margin-top: 25px;
    /* background-color: aquamarine; */
}

#menu-header{
    display: none;
}

#hero-content{
    margin: 25px 0px 50px 50px;
    padding: 0px 20px 20px 20px;
    width: 800px;
    /* background-color: bisque; */
}

.proj-grid{
    display: flex;
    flex-direction: column;
}

.proj-blck-spcing{
    margin: 15px;
}

.proj-blck-spcing > img {
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
    display:block;
}

.proj-grid > img {
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
    display:block;
}

.double{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.double > img {
    object-fit: cover;
    width: 100%;
}


video {
    object-fit: cover;
    margin-bottom: 20px;
    display:block;
    padding: 0px 15px 0px 15px;
}

.proj_title{
    font-size: 2rem;
}

.gs-persona-text{
    display: flex;
    flex-direction: row;
}

.flex-features{
    display:flex;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: space-between;
}


div[area=sidebar]{
    align-self: center;
    padding: 10px 0px 10px 15px;
}

.name-clear{
    line-height: initial;
}

.bio{
    margin-top:15px;
}

.proj_list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;
    margin-top: 5px;
}

.active .proj_list {
    max-height: 500px;
    transition: max-height 0.25s ease-out;
    margin-top: 5px;
}


@media (max-width: 750px)
{

    header {
        display: none;
    }

    #container{
        display:block;
        box-sizing: border-box;
        flex-direction: column;
        padding: 1em;
    }

    footer{
        height:2em;
    }

    #menu-header{
        display: block;
        color: #ffffff;
        font-size: larger;
        height: 3rem;
        background-color:#FFA580;
    }

    .cat-align{
        position: absolute;
        right:18px;
        top:14px;
    }

    #sidebar{
        display:none;
    }

    #hero-content{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    ul {
    padding-left: 15px;
}

.proj_list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;
    margin-top: 5px;
}

.active .proj_list {
    
    max-height: 500px;
    transition: max-height 0.25s ease-out;
    margin-top: 5px;
}

}
